<div id="<%= dom_id financial_record %>">
  <p>
    <strong>Project:</strong>
    <%= financial_record.project_id %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= financial_record.amount %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= financial_record.category %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= financial_record.description %>
  </p>

</div>
